<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66996705162-fndj5dtsnt7r4577e80enho46v0sejv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66996705162-fndj5dtsnt7r4577e80enho46v0sejv2</string>
	<key>API_KEY</key>
	<string>AIzaSyDDEMwoGWj2BYDzScFaJTxIQ4eNNDzhN-o</string>
	<key>GCM_SENDER_ID</key>
	<string>66996705162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pdp.herewegoTask</string>
	<key>PROJECT_ID</key>
	<string>herewegotask</string>
	<key>STORAGE_BUCKET</key>
	<string>herewegotask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66996705162:ios:a924c3d5a1c7fa30965a73</string>
</dict>
</plist>